<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="/assets/imgs/logo.png" alt="logo" class="img-fluid logo" />
    </a>

    <div class=" navbar-menu">
      <div class="navbar-nav  align-items-center">
        <a class="nav-link" href="#About"> {{ "About us" | translate }} </a>
        <a class="nav-link" href="#Vision"> {{ "Vision" | translate }} </a>
        <a class="nav-link" href="#Mission"> {{ "Mission" | translate }} </a>
        <a class="nav-link" href="#Why"> {{ "Why Elite?" | translate }} </a>
        <a class="nav-link" href="#Projects"> {{ "Our Projects" | translate }} </a>
        <a class="nav-link" href="#Contact"> {{ "Contact us" | translate }} </a>
      </div>
    </div>

    <button class="btn langBtn d-none d-md-flex" (click)="switchLang()">
      <span class="{{lang == 'en'?'activeLang':''}}">EN</span>
      <span style="margin-inline: 10px;" class="line"></span>
      <span class="{{lang == 'ar'?'activeLang':''}}">AR</span>
    </button>
  </div>

  <button class="btn langBtn d-flex  d-md-none new" (click)="switchLang()">
    <span class="{{lang == 'en'?'activeLang':''}}">EN</span>
    <span style="margin-inline: 10px;" class="line"></span>
    <span class="{{lang == 'ar'?'activeLang':''}}">AR</span>
  </button>
</nav>
