.header,
.about {
  background-color: var(--main-color);
  color: var(--light-color);
}

.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url(/assets/imgs/lines.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.header .header-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.header .header-info h1 {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 35px;
  letter-spacing: 0.25px;
  line-height: 1.1em;
}

.header .header-info h1 span {
  color: var(--text-color);
}

.header .header-info p {
  font-size: 22px;
  letter-spacing: 0.25px;
  line-height: 1.25em;
  width: 80%;
  text-align: start;
  color: var(--text-color2);
}

.header .header-info .btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.header .header-info a {
  color: var(--light-color);
  background-color: var(--main-color);
  box-shadow: 0px 0px 1px 2px var(--second-color);
  border-radius: 3px;
  min-width: 150px;
  padding: 13px 26px;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
}

.header .header-info a:active {
  border-color: transparent !important;
}

.header .header-info a:last-of-type {
  background-color: var(--second-color);
}

.header .header-info a:first-of-type:hover {
  background-color: var(--second-color);
  box-shadow: 0px 0px 1px 2px var(--main-color);
}

.header .header-info a:last-of-type:hover {
  background-color: var(--main-color);
  box-shadow: 0px 0px 1px 2px var(--second-color);
}

@media (max-width: 992px) {

  .header,
  .header-info * {
    text-align: center !important;
  }

  .header-info h1,
  .header-info p {
    width: 95% !important;
    margin-inline: auto;
  }
}

@media (max-width: 575px) {
  .header .header-info h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0;
    line-height: 1.1em;
  }

  .header .header-info p {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.4em;
  }

  .header .header-info a {
    color: var(--light-color);
    background-color: var(--main-color);
    box-shadow: 0px 0px 1px 2px var(--second-color);
    border-radius: 3px;
    min-width: 120px;
    padding: 8px 16px;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
  }
}

/***************************************************************/
.about {
  position: relative;
  display: block;
  height: 100%;
  padding-bottom: 350px;
}

.about::before {
  content: "";
  position: absolute;
  width: 75%;
  background-image: url(/assets/imgs/v-line.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 75px;
  inset-inline-end: 0;
  height: 60px;
}

.about.AR::before {
  transform: rotateY(0deg);
}

.about.EN::before {
  transform: rotateY(180deg);
}

.about::after {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url(/assets/imgs/lines.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
  height: 380px;
}

.about h2 {
  width: 75%;
  padding-top: 15px;
  position: relative;
  margin-bottom: 150px;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-inline-end: 0;
  margin-inline-start: auto;
}

.about h2::before {
  content: "";
  position: absolute;
  top: 130%;
  inset-inline-start: 0px;
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
}

.about h2::after {
  content: "";
  position: absolute;
  top: 100%;
  inset-inline-start: 0px;
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
}

.about h2 span {
  color: var(--text-color);
}

.about h3 {
  color: var(--text-color);
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.about p {
  width: 33%;
  font-size: 19px;
  line-height: 1.4em;
  letter-spacing: 0.25px;
  color: var(--text-color2);
  margin-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .about {
    padding-bottom: 300px;
  }

  .about .transparenHead {
    transform: translate(-70%, -65%);
  }

  .about::before {
    width: 90%;
    top: 75px;
    height: 60px;
  }

  .about h2 {
    width: 90%;
    padding-top: 15px;
    font-size: 56px;
  }

  .about h2::before {
    top: 130%;
  }

  .about h2::after {
    top: 100%;
  }

  .about p {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .about {
    padding-bottom: 250px;
  }

  .about .transparenHead {
    transform: translate(-70%, -65%);
  }

  .about::before {
    width: 95%;
    top: 75px;
    height: 60px;
  }

  .about h2 {
    width: 95%;
    padding-top: 15px;
    font-size: 44px;
    line-height: 1.1em;
  }

  .about h2::before {
    top: 130%;
  }

  .about h2::after {
    top: 100%;
  }

  .about p {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .about h2 {
    width: 95%;
    font-size: 37px;
  }

  .about h2::before {
    top: 130%;
  }

  .about h2::after {
    top: 100%;
  }

  .about p {
    width: 85%;
  }
}

@media (max-width: 575px) {
  .about h2 {
    width: 95%;
    font-size: 32px;
  }

  .about::before {
    height: 80px;
    background-size: fill;
  }

  .about h2::before {
    top: 170%;
  }

  .about h2::after {
    top: 140%;
  }

  .about p {
    width: 95%;
  }
}

@media (max-width: 490px) {
  .about h2 {
    line-height: 1.2em;
    margin-bottom: 100px;
    font-size: 23px;
    letter-spacing: 0;
  }

  .about::before {
    height: 40px;
  }

  .about h2::before {
    top: 170%;
  }

  .about h2::after {
    top: 120%;
  }
}

/***************************************************************/
.main-info {
  padding: 100px 0px 60px;
  background-image: url("/assets/imgs/about-us.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main-info::after,
.structure::after,
.vision::after,
.mission::after,
.why::after,
.contact::after,
.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17174c99;
  z-index: 1;
}

.main-info .text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-info .text h2 {
  font-size: 26px;
  text-align: center;
  color: #fff;
  line-height: 1.3em;
  letter-spacing: 0.5px;
}

.main-info .boxs .box {
  background: #fff;
  width: 220px;
  height: 100%;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  z-index: 20;
  margin: auto;
}

.main-info .boxs .box h3,
.main-info .boxs .box img {
  position: relative;
  z-index: 20;
}

.main-info .boxs .box::after {
  content: "";
  position: absolute;
  top: -14px;
  inset-inline-end: -14px;
  border: 1px solid #fff;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main-info .boxs .box img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px auto;
  object-fit: contain;
}

.main-info .boxs .box h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #444449;
  line-height: 1.2em;
  margin-bottom: 0;
  height: 45%;
  display: flex;
  align-items: center;
}

.main-info .msg .msg-img {
  background: #fff;
  text-align: center;
  border-radius: 2px;
  margin-inline-end: 24px;
  padding: 10px;
}

.main-info .msg .msg-img img {
  width: 40px;
}

.main-info .msg .msg-img h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  margin-top: 5px;
}

.main-info .msg p {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.main-info p.customP {
  margin-bottom: 0;
  max-width: 400px;
  background: #fff;
  margin-inline-end: 0;
  margin-inline-start: auto;
  font-size: 20px;
  padding: 20px 30px;
  text-align: center;
  line-height: 1.2em;
  font-weight: 500;
  border-radius: 3px;
  margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-info .text h2 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    line-height: 1.3em;
    letter-spacing: 0.25px;
    text-wrap: balance;
  }

  .main-info .boxs .box {
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1px 5px;
    border-radius: 2px;
    z-index: 2;
    margin: auto;
  }

  .main-info .boxs .box::after {
    content: "";
    position: absolute;
    top: -12px;
    inset-inline-end: -10px;
    border: 1px solid #fff;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .main-info .boxs .box img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto;
    object-fit: fill;
  }

  .main-info .boxs .box h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #444449;
    line-height: 1.2em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-wrap: wrap;
    height: auto;
  }

  .main-info .msg p {
    font-size: 16px;
    margin: 0px 0px 10px;
  }
}

@media (max-width: 768px) {
  .main-info .text h2 {
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 1.3em;
    letter-spacing: 0.25px;
    text-wrap: balance;
  }

  .main-info .boxs .box {
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1px 0px;
    border-radius: 2px;
    z-index: 2;
    margin: auto;
  }

  .main-info .boxs .box::after {
    content: "";
    position: absolute;
    top: -14px;
    inset-inline-end: -5px;
    border: 1px solid #fff;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .main-info .boxs .box img {
    width: 35px;
    height: 35px;
    display: block;
    margin: 10px auto;
    object-fit: fill;
  }

  .main-info .boxs .box h3 {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #444449;
    line-height: 1.2em;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    text-wrap: wrap;
  }

  .main-info .msg .msg-img {
    margin-inline-end: 10px;
    padding: 5px;
  }

  .main-info .msg .msg-img img {
    width: 20px;
  }

  .main-info .msg .msg-img h3 {
    font-size: 20px;
    margin-top: 0;
  }

  .main-info .msg p {
    font-size: 11px;
    margin: 0;
  }
}

@media (max-width: 575px) {
  .main-info .col-4.mb-5 {
    padding: 0px 7px !important;
  }

  .main-info .boxs .box h3 {
    height: auto !important;
    font-size: 10.5px;
  }


  .main-info .boxs .box {
    padding: 2px;
  }

}

/***************************************************************/

.clients {
  padding: 0px 0px 70px;
  background-color: var(--main-color);
  color: var(--light-color);
}

.clients .info {
  margin-bottom: 100px;
}

.clients .info .icon {
  background-color: #faf2e8;
  max-width: 290px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto 50px;
}

.clients .info .icon::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: #faf2e8 transparent transparent transparent;
}

.clients .info .icon::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #e1d9d6 transparent transparent transparent;
}

.clients .info .icon img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.clients .info h3 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 500;
}

.clients .context span {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
  display: block;
  margin: 0 auto 15px;
}

.clients .context h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}

.clients .context p {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .clients .context p {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .clients .context p {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .clients .info {
    margin-bottom: 50px;
  }

  .clients .info .icon {
    background-color: #faf2e8;
    max-width: 290px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto 25px;
  }

  .clients .info .icon::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 12px;
    border-style: solid;
    border-color: #faf2e8 transparent transparent transparent;
  }

  .clients .info .icon::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #afafaf transparent transparent transparent;
  }

  .clients .info .icon img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .clients .info h3 {
    font-size: 15px;
  }

  .clients .context span {
    font-size: 26px;
    font-weight: 500;
    color: var(--text-color);
    display: block;
    margin: 0 auto 15px;
  }

  .clients .context h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .clients .context p {
    width: 95%;
    font-size: 14px;
    line-height: 1.8em;
  }
}

/***************************************************************/

.structure {
  position: relative;
  padding: 100px 0px 20px;
  background-image: url("/assets/imgs/stracture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.structure .transparenHead {
  color: #83859996;
  transform: translate(-60%, -25%);
  letter-spacing: normal;
  opacity: 0.5;
}

.structure h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1em;
  color: var(--text-color);
  margin-bottom: 0;
}

.structure img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.structure p {
  margin-bottom: 0;
  max-width: 400px;
  background: #fff;
  margin-inline-end: 0;
  margin-inline-start: auto;
  font-size: 20px;
  padding: 20px 30px;
  text-align: center;
  line-height: 1.2em;
  font-weight: 500;
  border-radius: 3px;
}

@media (max-width: 992px) {
  .structure .transparenHead {
    color: #83859996;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    font-size: 90px;
  }

  .structure h2 {
    margin-bottom: 14px;
  }

  .structure img {
    min-width: 315px;
    object-fit: fill;
    /* height: 400px; */
  }
}

/***************************************************************/

.vision,
.mission,
.why {
  position: relative;
  padding: 75px 0px;
  background-image: url("/assets/imgs/vision2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vision img,
.mission img {
  min-height: 650px;
  object-fit: cover;
}

.vision h2,
.mission h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1em;
  color: var(--text-color);
  margin-top: 75px;
  margin-bottom: 16px;
}

.vision p,
.mission p {
  margin-bottom: 0;
  max-width: 600px;
  color: var(--text-color2);
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0.25px;
  text-wrap: balance;
}

.vision .transparenHead,
.mission .transparenHead {
  color: #ffffff;
  transform: translate(-42%, -28%);
  font-weight: 500;
  font-size: 150px;
  z-index: 3;
  opacity: 0.4;
}

@media (max-width: 992px) {

  .vision,
  .mission {
    padding-bottom: 150px;
  }

  .vision .transparenHead,
  .mission .transparenHead {
    transform: translate(-60%, -20%);
  }

  .vision img,
  .mission img {
    height: 500px;
    min-height: auto;
    object-fit: fill;
    width: 100%;
  }
}

@media (max-width: 768px) {

  .vision,
  .mission {
    padding-bottom: 200px;
  }

  .vision .transparenHead,
  .mission .transparenHead {
    transform: translate(-60%, -10%);
  }

  .vision img,
  .mission img {
    height: 580px;
  }
}

@media (max-width: 575px) {

  .vision .transparenHead,
  .mission .transparenHead {
    transform: translate(-50%, -10%);
    font-size: 100px;
  }
}

/***************************************************************/

.mission {
  background-image: url("/assets/imgs/mission2.jpg");
}

/***************************************************************/

.why {
  background-image: url("/assets/imgs/why-elite.jpg");
  color: var(--light-color);
}

.why::after {
  background: linear-gradient(#17174c, #17174c99);
}

.why h2 {
  font-size: 100px;
  line-height: 1.1em;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 35px;
}

.why h2 span.diff {
  display: inline-block;
  max-width: 450px;
  margin-inline-start: 16px;
  font-size: 20px;
  color: var(--light-color);
  font-weight: 400;
  line-height: normal;
}

.why p {
  font-size: 20px;
  color: var(--text-color2);
  letter-spacing: 0.25px;
  line-height: 1.5em;
  max-width: 460px;
}

@media (max-width: 575px) {
  .why h2 {
    font-size: 80px;
  }

  .why h2 span.diff {
    margin-top: 20px;
  }
}

/***************************************************************/
.projects {
  position: relative;
  padding: 100px 0px;
  background-color: var(--main-color);
  color: var(--light-color);
  text-align: center;
}

.projects h2 {
  font-size: 70px;
  margin-bottom: 100px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 1.2em;
}

.projects h3 {
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.projects .project-img {
  height: 450px;
  margin: auto;
  overflow: hidden;
}

.projects .project-img figure {
  width: 100%;
  height: 100%;
}

.projects .project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.75s all ease-in-out;
  cursor: pointer;
}

.projects .project-img.projects2,
.projects .project-img.projects3 {
  height: 650px;
}

.projects .project-img img:hover {
  transform: scale(1.1);
}

@media (max-width: 575px) {
  .projects h2 {
    line-height: 1.2em;
  }

  .projects h3 {
    line-height: 1.1em;
  }
}

/***************************************************************/

.contact {
  position: relative;
  padding: 50px 0px 120px;
  background-image: url('/assets/imgs/why-elite.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact::after {
  background: linear-gradient(180deg, #17174c, #17174c6e) !important;
}



.contact .container {
  position: relative;
  z-index: 2;
}

.contact h2 {
  font-size: 45px;
  letter-spacing: 0px;
  line-height: 51px;
  color: #dd954e;
  font-weight: 800;
  text-align: center;
}

.contact p {
  font-size: 21px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}

.contact hr {
  width: 561px;
  height: 3px;
  background-color: #dd954e;
  border: none;
  margin: 24px auto;
}

.contact input,
.contact select {
  opacity: 0.800;
  height: 60px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 16px;
  color: #18194d;
  font-weight: 500;
  text-align: start;
  direction: inherit;
}

.contact select {
  font-size: 22px;
}

.contact textarea::placeholder,
.contact input::placeholder {
  font-size: 16px;
  color: #18194d;
  font-weight: 500;
  text-align: start;
}

.contact input:active,
.contact input:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

.contact textarea {
  opacity: 0.800;
  height: 171px;
  border-radius: 6px;
  background-color: #ffffff;
  resize: none;
}

.contact button {
  display: block;
  background-color: var(--second-color);
  border-radius: 10px;
  height: 60px;
  max-width: 100%;
  font-size: 18px;
  width: 100%;
  border: none;
  margin-top: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.contact button:hover {
  background-color: #e0954e;
}

@media (max-width: 575px) {

  .contact input,
  .contact select {
    opacity: 0.800;
    height: 46px;
  }

  .contact select {
    font-size: 18px;
  }


  .contact .col-3.col-sm-2 {
    padding-inline-start: 0 !important;
  }
}

/***************************************************************/
.services {
  position: relative;
  padding: 75px 0px 100px;
  background-image: url('/assets/imgs/why-elite.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.services::after {
  background: linear-gradient(180deg, #17174c, #17174c6e) !important;
}

.services .container {
  position: relative;
  z-index: 20;
}

.services .container h2 {
  font-size: 51px;
  letter-spacing: 0px;
  line-height: 58px;
  color: #dd954e;
  font-weight: 800;
}

.services .container>p {
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 30px;
}

.services-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  gap: 14px;
}

.services .transparenHead {
  color: #ffffff;
  transform: translate(-15%, -50%) rotate(90deg);
  font-weight: 500;
  font-size: 150px;
  z-index: 2;
  opacity: 0.4;
}

.service-box {
  width: 200px;
  min-height: 280px;
  background-color: rgb(255 255 255 / 75%);
  padding: 20px 0px;
  border-radius: 3px;
  position: relative;
  z-index: 5;
}

.service-box h3 {
  width: 173px;
  min-height: 85px;
  font-size: 19px;
  color: #17174c;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px;
}

.service-box p {
  width: 173px;
  font-size: 16px;
  color: #17174c;
  font-weight: 500;
  text-align: center;
  margin: auto;
  text-wrap: balance;
  letter-spacing: 0.25px;
  line-height: 1.3em;
}

@media (max-width: 992px) {
  .services-box {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .services-box {
    width: 100%;
    gap: 7px;
  }

  .service-box {
    width: 138px;
  }

  .service-box h3 {
    width: 138px;
    font-size: 17px;
  }

  .service-box p {
    width: 138px;
    font-size: 15px;
  }

  .services .container h2,
  .services .container>p {
    text-align: center;
    text-wrap: balance;
  }

}

/***************************************************************/
.transparenHead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 120px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 1;
  font-weight: 600;
  line-height: 1em;
  color: #1d1d61;
  text-align: center;
}
