<div class="home">
  <!-- staart header -->
  <div class="header position-relative">
    <div class="container">
      <div class="row position-relative" style="z-index: 2;">
        <div class="col-lg-6 col-md-7 m-0 p-0">
          <div class="header-info" data-aos="zoom-in" data-aos-duration="1200">
            <h1 data-aos="fade-down-left" data-aos-duration="1200" data-aos-delay="1.2s">
              <span>{{"headerS" | translate}}</span>
              {{"headerH"|translate}}
            </h1>
            <p data-aos="fade-down" data-aos-duration="1200" data-aos-delay="1.2s">{{"headerP"|translate}}</p>
            <div class="btns">
              <button class="btn">{{"headerBtn1"|translate}}</button>
              <button class="btn">{{"headerBtn2"|translate}}</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 m-0 p-0">
          <div class="header-img" data-aos="zoom-out" data-aos-duration="1200">
            <img src="/assets/imgs/header1.png" alt="header" height="500px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header -->

  <!-- start about -->
  <div class="about">
    <span>{{'About us'|translate}}</span>
    <div class="container">
      <h2 class=" text-center">
        <span>{{"headerS" | translate}}</span>
        {{"headerH"|translate}}
      </h2>

      <div class="content">
        <h2>{{'About us' | translate}}</h2>
        <p>{{'aboutP1' | translate}}</p>
        <p class="mb-0">{{'aboutP2' | translate}}</p>
      </div>
    </div>
  </div>
  <!-- end about -->

</div>
