<div class="home">
  <!-- staart header -->
  <div class="header position-relative">
    <div class="container">
      <div class="row position-relative" style="z-index: 2;">
        <div class="col-xl-6 col-lg-7   p-md-0 mb-4 mb-lg-0">
          <div class="header-info" data-aos="zoom-in">
            <h1 data-aos="fade-down-left" data-aos-delay="2s">
              <span>{{"headerS" | translate}}</span>
              {{"headerH"|translate}}
            </h1>
            <p data-aos="fade-down" data-aos-delay="2s">{{"headerP"|translate}}</p>
            <div class="btns">
              <a class="btn" href="mailto:info@elite-dia.com" target="_blank">{{"headerBtn1"|translate}}</a>
              <a class="btn" href="#Contact">{{"headerBtn2"|translate}}</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5 m-md-0 p-md-0">
          <div class="header-img" data-aos="zoom-out">
            <img src="/assets/imgs/header1.png" alt="header" height="500px" width="100%" style="object-fit: cover;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header -->

  <!-- start about -->
  <div class="about {{lang=='ar'?'AR':'EN'}}" id="About" data-aos="fade-up">
    <span class="transparenHead">
      {{'About'|translate}}
      <br>
      {{'us'|translate}}
    </span>
    <h2 class=" text-center position-relative" style="z-index: 2;">
      <span>{{"headerS" | translate}}</span>
      {{"headerH"|translate}}
    </h2>
    <div class="container position-relative" style="z-index: 2;">


      <div class="content">
        <h3>{{'About us' | translate}}</h3>
        <p>{{'aboutP1' | translate}}</p>
        <p class="mb-0">{{'aboutP2' | translate}}</p>
      </div>
    </div>
  </div>
  <!-- end about -->

  <!-- start main-info -->
  <div class="main-info">
    <div class="container position-relative" style="z-index: 2;">
      <div class="row">
        <div class="col-3 mb-4 mb-md-0">
          <div class="text">
            <h2>{{"stractureP" | translate}}</h2>
          </div>
        </div>
        <div class="col-9">
          <div class="boxs">
            <div class="row align-items-stretch">
              <div class="col-4  mb-5 " data-aos="fade-right" data-aos-offset="300">
                <div class="box">
                  <img src="/assets/imgs/file.png" alt="file" class="img-fluid" />
                  <h3>{{"mainInfoH31" | translate}}</h3>
                </div>
              </div>
              <div class="col-4  mb-5 " data-aos="fade-up" data-aos-offset="300">
                <div class="box">
                  <img src="/assets/imgs/recicle.png" alt="recicle" class="img-fluid" />
                  <h3>{{"mainInfoH32" | translate}}</h3>
                </div>
              </div>
              <div class="col-4  mb-5 " data-aos="fade-left" data-aos-offset="300">
                <div class="box">
                  <img src="/assets/imgs/gears.png" alt="gears" class="img-fluid" />
                  <h3>{{"mainInfoH33" | translate}}</h3>
                </div>
              </div>
              <div class="col-4  mb-5 " data-aos="fade-right" data-aos-offset="300">
                <div class="box">
                  <img src="/assets/imgs/ksa.png" alt="ksa" class="img-fluid" />
                  <h3>{{"mainInfoH34" | translate}}</h3>
                </div>
              </div>
              <div class="col-4  mb-5 " data-aos="fade-down" data-aos-offset="300">
                <div class="box">
                  <img src="/assets/imgs/increase.png" alt="increase" class="img-fluid" />
                  <h3>{{"mainInfoH35" | translate}}</h3>
                </div>
              </div>
              <div class="col-4  mb-5" data-aos="fade-left" data-aos-offset="300">
                <div class="box">
                  <img src="/assets/imgs/network.png" alt="network" class="img-fluid" />
                  <h3>{{"mainInfoH36" | translate}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="msg d-flex align-items-center">
          <div class="msg-img">
            <img src="/assets/imgs/flag.png" alt="flag">
            <h3>{{"msgH3" | translate}}</h3>
          </div>
          <div class="msg-info">
            <p>{{"msgP1" | translate}}</p>
            <p>{{"msgP2" | translate}}</p>
            <p class="mb-0">{{"msgP3" | translate}}</p>
          </div>
        </div>
      </div>

      <!-- <p class="customP">{{"stractureP" | translate}}</p> -->
    </div>
  </div>
  <!-- End main-info -->

  <!-- start clients -->
  <div class="clients text-center">
    <div class="container">
      <div class="row" data-aos="zoom-in" data-aos-offset="300">
        <div class="col-4">
          <div class="info">
            <div class="icon">
              <img src="/assets/imgs/users.png" alt="users" class="img-fluid">
            </div>
            <h3>{{"Commitment" | translate}}</h3>
          </div>
        </div>
        <div class="col-4">
          <div class="info">
            <div class="icon">
              <img src="/assets/imgs/give.png" alt="give" class="img-fluid">
            </div>
            <h3>{{"responsibility" | translate}}</h3>
          </div>
        </div>
        <div class="col-4">
          <div class="info">
            <div class="icon">
              <img src="/assets/imgs/qady.png" alt="qady" class="img-fluid">
            </div>
            <h3>{{"effective" | translate}}</h3>
          </div>
        </div>
      </div>
      <div class="row" data-aos="zoom-out" data-aos-offset="300">
        <div class="context">
          <span>{{"clientsS" | translate}}...</span>
          <h2>{{"clientsH" | translate}}</h2>
          <p>{{"clientsP" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end clients -->

  <!-- start structure -->
  <!-- <div class="structure" data-aos="flip-down" data-aos-offset="300">
    <div class="container position-relative" style="z-index: 2;">
      <span class="transparenHead">{{"skelaton" | translate}} {{"system" | translate}}</span>
      <h2>
        <span> {{"skelaton" | translate}}</span>
        <br>
        {{"system" | translate}}
      </h2>
      <img src="/assets/imgs/{{lang=='en'?'tree-en.png':'tree-ar.png'}}" alt="stracture" class="img-fluid">

      <p>{{"stractureP" | translate}}</p>
    </div>
  </div> -->
  <!-- end structure -->

  <!-- start vision -->
  <div class="vision position-relative" id="Vision" data-aos="fade-down-right" data-aos-offset="300">
    <span class="transparenHead">{{"visionH" | translate}}</span>
    <div class="container position-relative" style="z-index: 2;">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="vision-img">
            <img src="/assets/imgs/vision.png" alt="vision" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-8 col-md-6">
          <div class="vision-info">
            <h2>{{"visionH" | translate}}</h2>
            <p>{{"visionP" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end vision -->

  <!-- start mission -->
  <div class="mission position-relative" id="Mission" data-aos="fade-down-left" data-aos-offset="300">
    <span class="transparenHead">{{"missionH" | translate}}</span>
    <div class="container position-relative" style="z-index: 2;">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="mission-img">
            <img src="/assets/imgs/mission.jpg" alt="mission" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-8 col-md-6">
          <div class="mission-info">
            <h2>{{"missionH" | translate}}</h2>
            <p>{{"missionP" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end mission -->

  <!-- start why -->
  <div class="why position-relative" id="Why" data-aos="zoom-out-up" data-aos-offset="300">
    <div class="container position-relative" style="z-index: 3;">
      <h2>
        <span>{{"whyH1" | translate}}</span>
        <br>
        <span>{{"whyH2" | translate}}</span>
        <br>
        <span>{{"whyH4" | translate}}</span>
        <br>
        <span class="diff">{{ " " }} {{ "whyH3" | translate}}</span>
      </h2>

      <p>{{"whyP1" | translate}}</p>
      <p>{{"whyP2" | translate}}</p>
      <p>{{"whyP3" | translate}}</p>
      <p>{{"whyP4" | translate}}</p>
      <p>{{"whyP5" | translate}}</p>
    </div>
  </div>
  <!-- end why -->

  <!-- Start services -->
  <div class="services" id="Services">
    <span class="transparenHead">{{'mainH' | translate}}</span>
    <div class="container">
      <h2>{{'mainH' | translate}}</h2>
      <p>{{'mainP' | translate}}</p>

      <div class="services-box">

        <div class="service-box" data-aos="fade-left" data-aos-offset="100">
          <h3>{{'servicesH1' | translate}}</h3>
          <p>{{'servicesP1' | translate}}</p>
        </div>


        <div class="service-box" data-aos="fade-up" data-aos-offset="100">
          <h3>{{'servicesH2' | translate}}</h3>
          <p>{{'servicesP2' | translate}}</p>
        </div>


        <div class="service-box" data-aos="fade-down" data-aos-offset="100">
          <h3>{{'servicesH3' | translate}}</h3>
          <p>{{'servicesP3' | translate}}</p>
        </div>


        <div class="service-box" data-aos="fade-right" data-aos-offset="100">
          <h3>{{'servicesH4' | translate}}</h3>
          <p>{{'servicesP4' | translate}}</p>
        </div>


        <div class="service-box" data-aos="fade-left" data-aos-offset="100">
          <h3>{{'servicesH5' | translate}}</h3>
          <p>{{'servicesP5' | translate}}</p>
        </div>


        <div class="service-box" data-aos="fade-up" data-aos-offset="100">
          <h3>{{'servicesH6' | translate}}</h3>
          <p>{{'servicesP6' | translate}}</p>
        </div>


        <div class="service-box" data-aos="fade-down" data-aos-offset="100">
          <h3>{{'servicesH7' | translate}}</h3>
          <p>{{'servicesP7' | translate}}</p>
        </div>


        <div class="service-box" data-aos="fade-right" data-aos-offset="100">
          <h3>{{'servicesH8' | translate}}</h3>
          <p>{{'servicesP8' | translate}}</p>
        </div>


      </div>
    </div>
  </div>
  <!-- End services -->

  <!-- start Projects -->
  <div class="projects position-relative" id="Projects">
    <div class="container">
      <h2>{{"projectsH1" | translate}}</h2>
      <h3>{{"projectsH2" | translate}}</h3>
      <div class="row mb-5">
        <ng-container *ngFor="let item of projects;let i = index">
          <div class="{{i != 3 ? 'col-lg-4 col-md-6': 'col-lg-8 col-md-12'}} mb-4">
            <div class="project-img">
              <figure class="image-box-desc">
                <img [src]="item?.modal?.img" (click)="openImageModalRowDescription(206, item)" alt="project{{i}}"
                  class="img-fluid" />
              </figure>
            </div>
          </div>
        </ng-container>

      </div>

      <h3>{{"projectsH3" | translate}}</h3>
      <div class="row mb-5">
        <ng-container *ngFor="let item of projects2;let i = index">
          <div class=" col-lg-6 col-md-6 mb-4">
            <div class="project-img projects2">
              <figure class="image-box-desc">
                <img [src]="item?.modal?.img" (click)="openImageModalRowDescription2(206, item)" alt="project2{{i}}"
                  class="img-fluid" />
              </figure>
            </div>
          </div>
        </ng-container>

      </div>

      <h3>{{"projectsH4" | translate}}</h3>
      <div class="row">
        <ng-container *ngFor="let item of projects3;let i = index">
          <div class=" col-lg-6 col-md-6 mb-4">
            <div class="project-img projects3">
              <figure class="image-box-desc">
                <img [src]="item?.modal?.img" (click)="openImageModalRowDescription3(206, item)" alt="projects3{{i}}"
                  class="img-fluid" />
              </figure>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
  <!-- end Projects -->

  <!-- start contact -->
  <div class="contact text-start text-light" id="Contact">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-lg-6 mb-4 mb-lg-0">
          <h2>{{'contactH' | translate}} <br>{{'contactH2' | translate}} </h2>
          <hr>
          <form #form="ngForm">
            <div class="row align-items-center justify-content-center">
              <p>{{'contactP' | translate}}</p>
              <div class="col-md-6 mb-4">
                <input type="text" name="name" placeholder="{{'Name' | translate}}" ngModel required
                  class="form-control" autocomplete="off" />
              </div>
              <div class="col-md-6 mb-4">
                <input type="email" name="email" placeholder="{{'E-mail' | translate}}" ngModel email required
                  class="form-control" autocomplete="off" />
              </div>
              <div class="col-md-12 mb-4">
                <div class="row">
                  <div class="col-9 col-sm-9">
                    <input type="tel" name="phone" placeholder="{{'Mobile number' | translate}}" ngModel required
                      class="form-control" autocomplete="off" />
                  </div>
                  <div class="col-3 col-sm-3">
                    <select name="code" ngModel required [(ngModel)]="selectedCode" class="form-control"
                      autocomplete="off">
                      <option [value]="null" disabled selected>----</option>
                      <option *ngFor="let item of codes" value="{{item}}">{{item}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <p>{{'message' | translate}}</p>
              <div class="col-12">
                <textarea name="message" ngModel required class="form-control" placeholder="{{'message'|translate}}"
                  autocomplete="off"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                  (click)="formSubmit(form?.value); form.reset()">{{'send' | translate}}</button>
              </div>
            </div>

          </form>
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0">
          <div class="footer-info {{lang=='ar'?'footerAR':'footerEN'}}">
            <div class="txt">
              <p>{{'country' | translate}}</p>
              <a href="tel:0555443737" target="_top">
                <i class="fa fa-phone"></i>
                <span>+966 555443737</span>
              </a>
              <a href="mailto:info@elite-dia.com">
                <i class="fa fa-globe"></i>
                <span>www.elite-dia.com</span>
              </a>
              <a href="mailto:info@elite-dia.com">
                <i class="fa fa-envelope"></i>
                <span>info@elite-dia.com</span>
              </a>
            </div>


            <div class="social mt-5">
              <a href="https://www.linkedin.com/in/elite-diamond-8658992a3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BzNPbKa32T2GG5odFSHzrow%3D%3D"
                target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="https://x.com/EliteDiamond0?t=xhtUbS8Gp13xav3kylIG_w&s=08" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                  viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                  <path
                    d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                </svg>
              </a>
              <a href="https://instagram.com/elite.diamond0?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end contact -->

</div>
