.footer {
  background-color: var(--main-color);
  color: var(--light-color);
  /* padding-top: 100px; */
  padding-bottom: 40px;
  text-align: center;
}
.txt p,
.txt a {
  font-size: 40px;
  margin-bottom: 30px;
  text-decoration: none;
  color: var(--light-color);
}

.txt a {
  margin: 0 auto 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 320px;
  height: 30px;
  line-height: 30px;
}

.txt a i {
  width: 40px;
  font-size: 20px;
  margin-inline-end: 20px;
}

.txt a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: start;
}

.copyright {
  text-align: center;
  color: var(--text-color2);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 0.25px;
}

.arrow-top {
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  height: 44px;
  padding: 0px 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--light-color);
  margin: 35px auto 20px;
  color: var(--main-color);
}
.arrow-top i {
  color: var(--main-color);
}

.footer.footerAR .txt a i.fa.fa-phone {
  transform: rotate(270deg);
}
.footer.footerEN .txt a i.fa.fa-phone {
  transform: rotate(0deg);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.social a {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  color: var(--main-color);
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.social a:hover {
  transform: translateY(3px);
}

.social a i {
  font-size: 20px;
  color: var(--main-color);
}

@media (max-width: 575px) {
  .txt p,
  .txt a {
    font-size: 27px;
    line-height: 1.1em;
  }
}

@media (min-width: 575px) {
  .txt a {
    max-width: 380px;
  }
}
